<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
<h1>BYU-I Course Reviews</h1>
<select class="selects" id="colleges" onChange="on_change_college();">
  <% for (var i = 0; i < colleges.length; i++) { %>
    <option value=
    <%= colleges[i].id %>
    ><%= colleges[i].college_name %></option>
  <% } %>
</select>

<select class="selects" id="courses" onChange="on_change_course();">
</select>

<div id='reviews_box'>
  <div class="container panel panel-default review">
    <div class="row">
      <div class="col-sm-8 name"><h3>Lights-A5</h3></div>
      <div class="col-sm-4 rating"><h3>4/5</h3></div>
    </div>
      <p>This class was great. I learned lots of new things!</p>
    
  </div>
</div>

<% include ../partials/footer.ejs %>
</body>
</html>
