<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
<select name="colleges" onChange="update_courses();">
  <% for (var i = 0; i < colleges.length; i++) { %>
    <option value=
    <%= colleges[i].id %>
    ><%= colleges[i].college_name %></option>
  <% } %>
</select>

<select name="courses">
</select>

<div id='reviews_box'>
</div>

<% include ../partials/footer.ejs %>
</body>
</html>
